.footerTop{
    background-color: #4C38EE;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerBottom{
    display: flex;
    flex-direction: column;
    padding: 40px 0px 10px 50px;
}
.footerItem{
    list-style-type: none;
    list-style: none;
    font-size: 14px;
}
.button{
    background-color: #4C38EE;
    border-radius: 5px;
    width: auto;
    border: 2px solid #fff;
    height: 60px;
    color: #fff;
}
.heading{
    font-size: 40px;
}
.topContent{
    font-size: 18px;
}
.bottomHeading{
    color: #4C38EE;
    margin-top: 20px;
}
.services{
    color: #4C38EE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}